
<app-stocks></app-stocks>
<mat-toolbar color="primary">
    <a mat-button routerLink="History" >history</a>
    <a mat-button routerLink="Protfolio">Protfolio</a>
</mat-toolbar>
<router-outlet></router-outlet>
<br>
<div align="center">
<mat-form-field >
    <mat-select placeholder="Timeframes">
      <mat-option *ngFor="let interval of arr" [value]="interval.value" (click)="onClick(interval.value)">
        {{interval.viewValue}}
      </mat-option>

    </mat-select>
  </mat-form-field>
ֿ
 </div>
