
.runner{
    background-color: black;
    color: white;
    /* text-shadow: 2 2 0.5em rgb(12, 216, 243); */
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.red{
    color: red
}
.green{
    color: green;
}

.up{
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    background-image: url("http://www.computerie.com/Images/Arrow-Up.png")
}
.down{
    background-repeat: no-repeat;
    background-size: 50% 80%;
    background-position: center;
    background-image: url("https://venturasecurities.files.wordpress.com/2013/05/downarrow.png")
}

table {
    width: 100%;
    text-align: center;
  }

  .myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

.myButton:active {
	position:relative;
	top:1px;
}